/* --------------- header style ----------------*/
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  grid-area: header;
  background-color: var(--dark-blue);
}

/* google auth  style */
#user-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 0;
  width: 20%;
}

#user-name {
  font-weight: 600;
  color: var(--white);
}

#sign-in {
  font-weight: 500;
  width: 8rem;
  color: var(--dark-blue);
  background-color: var(--yellow);
}

#sign-in:hover {
  box-shadow: 0px 0px 10px 5px var(--light-grey);
}

#sign-out {
  color: var(--white);
  background-color: var(--red);
}

#sign-out:hover {
  box-shadow: 0px 0px 10px 5px var(--light-grey);
}
