/* --------------- header style ----------------*/
.header-content {
  grid-area: header;
  background-color: var(--header-background-color);
  border-bottom: 0.05rem outset var(--border-color);
  position: fixed;
  width: 100vw;
  height: 7.5vh;
}
