:root {
  /* dark mode colors */
  --dm-header-background-color: #ff7373;
  --dm-main-background-color: #fefcfe;
  --dm-sidebar-background-color: #f3eff3;
  --dm-alternative-color: #fadb44;
  --dm-border-color: #e7dce7;

  /* day mode colors */

  /* default colors */
  --header-background-color: var(--dm-header-background-color);
  --main-background-color: var(--dm-main-background-color);
  --sidebar-background-color: var(--dm-sidebar-background-color);
  --alternative-color: var(--dm-alternative-color);
  --border-color: var(--dm-border-color);

  /* font size */
  --font-size: calc(0.625rem + 0.5vw);
  font-size: var(--font-size);

  /* colors */
  --green: rgb(24, 241, 24);
  --yellow: #fadb44;

  /* priority buttons color*/
  --priority-low: green;
  --priority-medium: orange;
  --priority-high: red;

  /* text color */
  --dm-text-color: #fefcfe;
  --lm-text-color: #2a3444;
  --text-color: var(--dm-text-color);
  color: var(--text-color);
}

*,
hmtl {
  margin: 0;
  padding: 0;
}

/* ------------ body style --------------------*/
body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    'header header'
    'sidebar main';
}
