:root {
  --dark-blue: #112d4e;
  --blue: #3f72af;
  --dark-purple: #424874;
  --purple: #a6b1e1;
  --light-purple: #dcd6f7;
  --light-grey: #dbe2ef;
  --white: #f9f7f7;
  --cream: #f4eeff;
  --task-bg: #cbd9e9;
  --yellow: #f9ed69;
  --orange: #f08a5d;
  --red: #b83b5e;
  --green: #95e1d3;

  /* font size */
  --font-size: calc(0.625rem + 0.5vw);
  font-size: var(--font-size);

  /* text color */
  --dm-text-color: #f9f7f7;
  --lm-text-color: #112d4e;
  --text-color: var(--dm-text-color);
  color: var(--text-color);
}

*,
hmtl {
  margin: 0;
  padding: 0;
}

/* ------------ body style --------------------*/
body {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main';
}
