:root {
  --dark-blue: #112d4e;
  --blue: #3f72af;
  --dark-purple: #424874;
  --purple: #a6b1e1;
  --light-purple: #dcd6f7;
  --light-grey: #dbe2ef;
  --white: #f9f7f7;
  --cream: #f4eeff;
  --task-bg: #cbd9e9;
  --yellow: #f9ed69;
  --orange: #f08a5d;
  --red: #b83b5e;
  --green: #95e1d3;

  /* font size */
  font-size: 1vmax;

  /* text color */
  --dm-text-color: #f9f7f7;
  --lm-text-color: #112d4e;
  --text-color: var(--dm-text-color);
  color: var(--text-color);
}

@media (width <= 1024px) {
  :root {
    font-size: 1.3vmax;
  }
}

@media (width <= 768px) {
  :root {
    font-size: 1.6vmax;
  }
}

*,
hmtl {
  margin: 0;
  padding: 0;
}

/* ------------ body style --------------------*/
body {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main';
}

/* aut style */
#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('../asset/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}

/* auth dialog */
#signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 3rem;
  background-color: var(--light-grey);
}

#signin-container > * {
  margin: 2rem;
}

#signin-container-header {
  font-size: 4rem;
  padding: 1rem;
  color: var(--dark-blue);
}

#signin-container-button-container {
  display: flex;
  align-items: center;
}

#signin-container-button-container > * {
  width: 18rem;
  height: fit-content;
  padding: 1rem;
  margin: 2rem;
  font-size: 1.5rem;
  background-color: var(--dark-blue);
  color: var(--white);
}

@media (width <= 768px) {
  #signin-container {
    padding: 2rem 1rem;
  }

  #signin-container > * {
    margin: 1rem;
  }

  #signin-container-button-container {
    flex-direction: column;
  }

  #signin-container-button-container > * {
    width: 15rem;
    height: fit-content;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.3rem;
  }
}

@media (width <= 500px) {
  #signin-container-header {
    font-size: 3rem;
    padding: 1rem;
  }

  #signin-container {
    padding: 1rem 0.75rem;
  }

  #signin-container > * {
    margin: 1rem;
  }

  #signin-container-button-container > * {
    width: 12rem;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
  }
}

@media (width <= 375px) {
  #signin-container-header {
    font-size: 2.25rem;
    padding: 0.75rem;
  }

  #signin-container {
    padding: 0.75rem 0.5rem;
  }

  #signin-container > * {
    margin: 0.5rem;
  }

  #signin-container-button-container > * {
    width: 9rem;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    font-size: 0.75rem;
  }
}
