/* -------------main style -------------------- */
.main-content {
  position: fixed;
  top: 4rem;
  left: 20vw;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: main;
  background-color: var(--white);
}

@media (width <= 425px) {
  .main-content {
    top: 8rem;
  }
}

@media (width <= 768px) {
  .main-content {
    left: 0;
  }
}

/* ----- MAIN CONTAINER ----- */
.main-container-todo {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.25rem;
  grid-auto-flow: row;
  padding: 2rem 4rem;
}

.main-container-note {
  column-count: 3;
  column-gap: 2.5rem;
  padding: 2rem 4rem;
}

@media (width <= 768px) {
  .main-container-note {
    column-count: 2;
  }
}

@media (width <= 600px) {
  .main-container-note {
    column-count: 1;
    padding: 2rem;
  }
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--dark-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-purple);
}
