/* NOTE STYLE */
.note-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: var(--task-bg);
  border: 0.15rem solid var(--blue);
}

.note-header-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
  border-bottom: 0.15rem solid var(--blue);
}

.note-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: justify;
  padding: 0.75rem;
  font-weight: 700;
  font-size: 1.3rem;
  word-break: break-all;
  max-width: 100%;
  color: var(--dark-blue);
}

.note-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}
.note-btn-container > * {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.note-btn {
  width: 1.1rem;
  height: 1.1rem;
  background-size: cover;
  border: none;
  background-color: var(--task-bg);
}

.note-btn:hover {
  transition-duration: 200ms;
  width: 1.25rem;
  height: 1.25rem;
}

.note-btn:active {
  transition-duration: 200ms;
  width: 1.1rem;
  height: 1.1rem;
}

.note-details-btn {
  background-image: url('../asset/images/edit_icon.svg');
}

.note-delete-btn {
  background-image: url('../asset/images/delete_icon.svg');
}

.note-details {
  height: fit-content;
  padding: 0.75rem;
  text-align: justify;
  overflow-y: auto;
  word-break: normal;
  color: var(--dark-blue);
}
