.container-delete-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 5rem;
}

.text-delete-project {
  font-size: 3rem;
  color: var(--dark-blue);
  margin: 1rem auto;
}

.button-delete-project {
  font-size: 1.2rem;
  font-weight: 600;
  width: 15rem;
  border: none;
  border-radius: 10px;
  margin: 1rem auto;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--red);
}

.button-delete-project:hover {
  box-shadow: 0px 0px 10px 5px var(--light-grey);
}

@media (width <= 600px) {
  .text-delete-project {
    font-size: 1.8rem;
  }
}

@media (width <= 400px) {
  .text-delete-project {
    font-size: 1.5rem;
  }
}
